.authBar {
  display: flex;
  align-items: center;
}
.btn {
  height: 30px;
  margin: 0 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
  cursor: pointer;
  font-weight: 550;
  color: white;
  background-color: rgb(18, 82, 156);
}
.btn:hover,
.btn:focus {
  box-shadow: 1px 1px 3px 3px grey;
}
.link {
  text-decoration: none;
  margin: 0 20px;
  font-size: 17px;
  font-weight: 550;
  font-style: italic;
  color: rgb(18, 82, 156);
}
.link:hover {
  font-size: 19px;
  transition-duration: 300ms;
}
